<div class="container">
	<h1 class="title">Texto analisado</h1>
	<h2 class="subtitle">
		{{ texto|safe }}
	</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Token</th>
				<th>Sujeito</th>
				<th>Resumo</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in resultado.items() %}
			<tr>
				<td><span class="tag is-success">{{ key }}</span></td>
				<td><a href="{{ value['uri'] }}" target="_blank">{{ value['subject'] }}</a></td>
				<td>{{ value['abstract'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	